<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript">
        $(document).ready( function() {
            var selItem = localStorage.getItem("locales");
            $('#locales').val(selItem ? selItem : 'ru');
            $("#locales").change( function () { 
                var selectedOption = $('#locales').val();
                if (selectedOption) {
                    window.location.replace('?language=' + selectedOption);
                    localStorage.setItem("locales", selectedOption);
                }
            });
        });
    </script>
</head>
  <body>
    <div th:fragment="navbar" class="bd-example">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" th:href="@{'/'}" th:text="#{nav.brand}">Brand</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/'}" th:text="#{nav.home}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.job}">Job</a>
                            <div class="dropdown-menu" aria-labelledby="Job">
                                <a class="dropdown-item" th:href="@{'/jobproducts'}" th:text="#{nav.job.product}">nav.job.product</a>
                                <a class="dropdown-item" th:href="@{'/jobbraids'}" th:text="#{nav.job.braid}">nav.job.braid</a>
                                <a class="dropdown-item" th:href="@{'/jobwelders'}" th:text="#{nav.job.welder}">nav.job.welder</a>
                                <a class="dropdown-item" th:href="@{'/jobflowers'}" th:text="#{nav.job.flower}">nav.job.flower</a>
                                <a class="dropdown-item" th:href="@{'/jobruffs'}" th:text="#{nav.job.ruff}">nav.job.ruff</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.calculations}">Calculations</a>
                            <div class="dropdown-menu" aria-labelledby="Calculations">
                                <a class="dropdown-item" th:href="@{'/calculation/list'}" th:text="#{nav.calculation}">nav.calculation</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{'/fones'}" th:text="#{nav.fone}">nav.fone</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{'/carcass'}" th:text="#{nav.carcass}">nav.carcass</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{'/flowers'}" th:text="#{nav.flowers}">nav.flowers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{'/ruffs'}" th:text="#{nav.ruff}">nav.ruff</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{'/materials'}" th:text="#{nav.material}">nav.material</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.other}">Other</a>
                            <div class="dropdown-menu" aria-labelledby="Other">
                                <a class="dropdown-item" th:href="@{'/currencies'}" th:text="#{nav.currencies}">Currencies</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'#'}" th:text="#{nav.products}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'#'}" th:text="#{nav.about}">About</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" id="navbarSearch" aria-label="Search" th:placeholder="#{nav.search}" />
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" th:text="#{nav.search}">Search</button>
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{'#'}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.language}">Language</a>
                            <div class="dropdown-menu" aria-labelledby="Language">
                                <a class="dropdown-item" th:href="@{'?language=en'}" th:text="#{nav.english}">English</a>
                                <a class="dropdown-item" th:href="@{'?language=ru'}" th:text="#{nav.russian}">Russian</a>
                            </div>
                        </li>
                        </ul>
                    </form>
                </div>
            </nav>
        </div>
  </body>
</html>