body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout-error {
    border-left-color: #d9534f;
}

.callout-error h4 {
    color: #d9534f;
}

.bs-callout {
    padding: 5px;
    margin: 5px 5px;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-radius: 5px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.caprion-color th {
    position: sticky;
    top: 50px;
    background: silver;
}

textarea {
    resize: none;
}

.progress {
  background: red;
  display: block;
  height: 20px;
  text-align: center;
  transition: width .3s;
  width: 0;
}

.progress.hide {
  opacity: 0;
  transition: opacity 1.3s;
}
