body {
    padding-top: 70px;
}

.loginbox {
    margin-right: auto;
    margin-left: auto;
}

.loginbox form .alert {
    margin-right: -15px;
    margin-left: -15px;
}

@media ( min-width : 500px) {
    .loginbox {
        margin-top: 200px;
        width: 200px;
    }
}

@media ( min-width : 768px) {
    .loginbox {
        margin-top: 200px;
        width: 200px;
    }
}

@media ( min-width : 992px) {
    .loginbox {
        margin-top: 200px;
        width: 250px;
    }
}

@media ( min-width : 1200px) {
    .loginbox {
        margin-top: 200px;
        width: 250px;
    }
}

.style-black {
    color: black;
}

.padding-for-table {
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}

.table a {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel .table.table-condensed tr td:FIRST-CHILD {
    /*background: red;*/
    white-space: nowrap;
}

.table>tbody>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.none-margin {
    margin: 0;
}
/*DROPDOWN MENU AND DROPDOWN-SUBMENU*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: -95%;
    max-width: 180px;
    margin-top: -6px;
    margin-right: -1px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #999;
    margin-top: 5px;
    margin-right: 10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-menu-right {
    margin-left: 0;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
