<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update Calculation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{'/css/shards.min.css'}">
    </head>
    <body>
        <div th:insert="~{fragment/top :: navbar}"></div>
        <div class="container col-md-12 col-sm-12 my-5">
        <div class="card border-info">
        <h2 class="card-header">Update Calculation</h2>
        <div class="card-body">
        <div class="container">
            <div class="row">
            <!-- <img th:src="${image}" alt="Картинка"/> -->
                <div class="col-md-12 col-sm-12">
                    <form th:action="@{/calculation/edit}" th:object="${calculation}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-0" hidden="true">
                                <input type="text" th:field="*{id}" class="form-control" id="id">
                                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="article" class="col-form-label" th:text="#{article}">article</label>
                                <input type="text" th:field="*{article}" class="form-control" id="article" th:placeholder="#{article}">
                                <span th:if="${#fields.hasErrors('article')}" th:errors="*{article}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8 col-sm-10">
                                <label for="name" class="col-form-label" th:text="#{name}">name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" th:placeholder="#{name}">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-1 col-sm-2">
                                <label for="removed" class="col-form-label">removed</label>
                                <input type="checkbox" class="form-control" th:field="*{removed}" id="removed" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="comment" class="col-form-label">comment</label>
                                <textarea th:field="*{comment}" class="form-control" id="comment" th:placeholder="comment" rows = "2"></textarea>
                            </div>
                            <div class="form-group col-md-0" hidden="true">
                                <input type="text" th:field="*{fone.id}" class="form-control" id="foneId" placeholder="fone.id" readonly="readonly">
                                <span th:if="${#fields.hasErrors('fone.id')}" th:errors="*{fone.id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="foneArticle" class="col-form-label">fone.article</label>
                                <select id="foneArticle" name="foneArticle" th:with="crcs=*{fone}" class="form-control">
                                    <option th:each="var : ${allFone}"
                                        th:value="${var.id}" 
                                        th:text="${var.article}"
                                        th:selected="${var.id}==${crcs.id}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-7">
                               <label for="foneName" class="col-form-label">fone.name</label>
                               <input type="text" th:field="*{fone.name}" class="form-control" id="foneName" placeholder="fone.name" readonly="readonly">
                               <span th:if="${#fields.hasErrors('fone.name')}" th:errors="*{fone.name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                               <label for="fonePrice" class="col-form-label">fone.price</label>
                               <input type="text" th:field="*{fone.price}" class="form-control" id="fonePrice" placeholder="fone.price" readonly="readonly">
                               <span th:if="${#fields.hasErrors('fone.price')}" th:errors="*{fone.price}" class="text-danger"></span>
                            </div>
                            <!--div class="container"-->
                                <!--div class="row"-->
                            <div class="form-group col-md-0" hidden="true" >
                                <input type="text" th:field="*{jobProduct.id}" class="form-control" id="jobId" placeholder="job.id" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobProduct.id')}" th:errors="*{jobProduct.id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="jobArticle" class="col-form-label">job.article</label>
                                <select id="jobArticle" name="jobArticle" th:with="job=*{jobProduct}" class="form-control">
                                    <option th:each="var : ${allJob}"
                                        th:value="${var.id}" 
                                        th:text="${var.article}"
                                        th:selected="${var.id}==${job.id}"></option>
                                </select>
                             </div>
                             <div class="form-group col-md-7">
                                <label for="jobName" class="col-form-label">job.name</label>
                                <input type="text" th:field="*{jobProduct.name}" class="form-control" id="jobName" placeholder="job.name" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobProduct.name')}" th:errors="*{jobProduct.name}" class="text-danger"></span>
                             </div>
                             <div class="form-group col-md-2">
                                <label for="jobPrice" class="col-form-label">job.price</label>
                                <input type="text" th:field="*{jobProduct.price}" class="form-control" id="jobPrice" placeholder="job.price" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobProduct.price')}" th:errors="*{jobProduct.price}" class="text-danger"></span>
                            </div>
                            <!--/div-->
                            <!--/div-->
                            <div class="container">
                            <div class="card border-info">
                            <h4 class="card-header">flowers</h4>
                            <div class="card-body">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-sm-12 padding-for-table">
                            <table id="flower" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" hidden="true">#</th>
                                        <th width="24%">article</th>
                                        <th width="36%">name</th>
                                        <th width="15%">quantity</th>
                                        <th width="10%">price</th>
                                        <th width="10%">result</th>
                                        <th width="5%">
                                            <a class="btn btn-outline-info" id="flowerAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="flowerItems">
                                    <tr th:each="flowers, itemStat : ${calculation.flowers}" th:with="result=${flowers.price * flowers.quantity}">
                                        <td width="0%" colspan="1" hidden="true">
                                            <input type="number" th:field="*{flowers[__${itemStat.index}__].id}" class="form-control" id="flowerId">
                                            <span th:if="${#fields.hasErrors('flowers[__${itemStat.index}__].id')}" th:errors="*{flowers[__${itemStat.index}__].id}" class="text-danger"></span>
                                        </td>
                                        <td width="24%" colspan="1" id="flowerArticle">
                                            <select id="selectRuff" name="selectRuff" class="form-control">
                                                <option th:each="var : ${allFlower}"
                                                    th:value="${var.id}" 
                                                    th:text="${var.article}"
                                                    th:selected="${var.id}==${flowers.id}"
                                                ></option>
                                            </select>
                                        </td>
                                        <td width="36%" colspan="1" th:text="${flowers.name}" id="flowerName"/>
                                        <td width="15%" colspan="1" >
                                            <input type="text" th:field="*{flowers[__${itemStat.index}__].quantity}" class="form-control" id="flowerQuantity" placeholder="flower.quantity">
                                            <span th:if="${#fields.hasErrors('flowers[__${itemStat.index}__].quantity')}" th:errors="*{flowers[__${itemStat.index}__].quantity}" class="text-danger"></span>
                                        </td>
                                        <td width="10%" colspan="1" th:text="${flowers.price}" id="flowerCost">
                                        </td>
                                        <td width="10%" colspan="1" th:text="${result}" id="flowerResult"></td>
                                        <td width="5%" colspan="1" id="flowerActionDelete">
                                            <a class="btn btn-outline-danger" id="flowerDelete"><i class="fas fa-user-times ml-2"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="container my-2">
                            <div class="card border-info mb-3">
                            <h3 class="card-header">materials</h3>
                            <div class="card-body">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-sm-12 padding-for-table">
                            <table id="material" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" hidden="true">#</th>
                                        <th width="24%">article</th>
                                        <th width="36%">name</th>
                                        <th width="15%">quantity</th>
                                        <th width="10%">price</th>
                                        <th width="10%">result</th>
                                        <th width="5%">
                                            <a class="btn btn-outline-info" id="materialAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="materialItems">
                                    <tr th:each="materials, itemStat : ${calculation.materials}" th:with="result=${materials.cost * materials.quantity}">
                                        <td width="0%" colspan="1" hidden="true">
                                            <input type="number" th:field="*{materials[__${itemStat.index}__].id}" class="form-control" id="materialId">
                                            <span th:if="${#fields.hasErrors('materials[__${itemStat.index}__].id')}" th:errors="*{materials[__${itemStat.index}__].id}" class="text-danger"></span>
                                        </td>
                                        <td width="24%" colspan="1" id="materialArticle">
                                            <select id="selectMaterial" name="selectMaterial" class="form-control">
                                                <option th:each="var : ${allMaterial}"
                                                    th:value="${var.id}" 
                                                    th:text="${var.article}"
                                                    th:selected="${var.id}==${materials.id}"
                                                ></option>
                                            </select>
                                        </td>
                                        <td width="36%" colspan="1" th:text="${materials.name}" id="materialName"/>
                                        <td width="15%" colspan="1" >
                                            <input type="text" th:field="*{materials[__${itemStat.index}__].quantity}" class="form-control" id="materialQuantity" placeholder="material.quantity">
                                            <span th:if="${#fields.hasErrors('materials[__${itemStat.index}__].quantity')}" th:errors="*{materials[__${itemStat.index}__].quantity}" class="text-danger"></span>
                                        </td>
                                        <td width="10%" colspan="1" th:text="${materials.cost}" id="materialCost">
                                        </td>
                                        <td width="10%" colspan="1" th:text="${result}" id="materialResult"></td>
                                        <td width="5%" colspan="1" id="materialActionDelete">
                                            <a class="btn btn-outline-danger" id="materialDelete"><i class="fas fa-user-times ml-2"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="container my-2">
                            <div class="card border-info mb-3">
                            <h3 class="card-header">ruffs</h3>
                            <div class="card-body">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-sm-12 padding-for-table">
                            <table id="ruff" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" hidden="true">#</th>
                                        <th width="24%">article</th>
                                        <th width="36%">name</th>
                                        <th width="15%">quantity</th>
                                        <th width="10%">price</th>
                                        <th width="10%">result</th>
                                        <th width="5%">
                                            <a class="btn btn-outline-info" id="ruffAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ruffItems">
                                    <tr th:each="ruffs, itemStat : ${calculation.ruffs}" th:with="result=${ruffs.price * ruffs.quantity}">
                                        <td width="0%" colspan="1" hidden="true">
                                            <input type="number" th:field="*{ruffs[__${itemStat.index}__].id}" class="form-control" id="ruffId">
                                            <span th:if="${#fields.hasErrors('ruffs[__${itemStat.index}__].id')}" th:errors="*{ruffs[__${itemStat.index}__].id}" class="text-danger"></span>
                                        </td>
                                        <td width="24%" colspan="1" id="ruffArticle">
                                            <select id="selectRuff" name="selectRuff" class="form-control">
                                                <option th:each="var : ${allRuff}"
                                                    th:value="${var.id}" 
                                                    th:text="${var.article}"
                                                    th:selected="${var.id}==${ruffs.id}"
                                                ></option>
                                            </select>
                                        </td>
                                        <td width="36%" colspan="1" th:text="${ruffs.name}" id="ruffName"/>
                                        <td width="15%" colspan="1" >
                                            <input type="text" th:field="*{ruffs[__${itemStat.index}__].quantity}" class="form-control" id="ruffQuantity" placeholder="ruff.quantity">
                                            <span th:if="${#fields.hasErrors('ruffs[__${itemStat.index}__].quantity')}" th:errors="*{ruffs[__${itemStat.index}__].quantity}" class="text-danger"></span>
                                        </td>
                                        <td width="10%" colspan="1" th:text="${ruffs.price}" id="ruffCost">
                                        </td>
                                        <td width="10%" colspan="1" th:text="${result}" id="ruffResult"></td>
                                        <td width="5%" colspan="1" id="ruffActionDelete">
                                            <a class="btn btn-outline-danger" id="ruffDelete"><i class="fas fa-user-times ml-2"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="price" class="col-form-label">Price.is.an.one</label>
                                <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="calculation.price">
                                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary float-right" value="Update Calculation">
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <script th:src="@{'/js/jquery-1.11.0.min.js'}"></script>
        <script th:src="@{'/js/calculation.js'}"></script>
        <!--script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
        <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </body>
</html>