<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Calculation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{../css/shards.min.css}">
        <!--link rel="stylesheet" href="../css/bootstrap.min.css"-->
    </head>
    <body>
        <div th:insert="~{fragment/top :: navbar}"></div>
        <div class="container col-md-10 col-sm-12 my-5">
        <div class="card border-info">
        <h3 class="card-header">Calculation</h3>
        <div class="card-body">
        <div class="form-group">
            <a th:title="#{report.sold}" type="button" class="btn btn-success" data-backdrop="static" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-file" aria-hidden="true"></i></a>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <form action="" method="get" id="printSold" class="form-inline">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel" th:text="#{report.sold}"></h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <progress id="progress" class="progress"></progress>
                                <span id="display"></span>
                                <br/>
                                <div class="container-fluid">
                                <!-- Контейнер, в котором можно создавать классы системы сеток -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="form-group col-md-7">
                                                <label for="dateFrom" class="col-form-label" th:text="#{date.from}"></label>
                                                <input type="date" class="form-control" name="dateFrom" id="dateFrom" />
                                            </div>
                                            <div class="form-group col-md-7 mt-2">
                                                <label for="dateto" class="col-form-label" th:text="#{date.to}"></label>
                                                <input type="date" class="form-control" name="dateTo" id="dateTo" />
                                            </div>
                                        </div>
                                        <h4 th:if="${errorCollisionDate}" class="alert alert-danger">ERROR_Сollision_Date</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a id="printReportSold" class="btn btn-primary" th:text="#{execute}"></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a th:title="#{report.list.calculation}" type="button" class="btn btn-success" data-backdrop="static" data-toggle="modal" data-target="#myModal1">
                <i class="fas fa-file "></i></a>
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <form action="" method="post" id="printSold" class="form-inline">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                <progress id="progress" class="progress"></progress>
                                <span id="display"></span>
                                <br/>
                            </div>
                            <div class="modal-footer">
                                <a id="printReportListCalculation" class="btn btn-primary" th:text="#{report.list.calculation}"></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="row my-2">
            <div class="col-8"><a th:href="@{'/calculation/new'}" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></div>
            <div class="col-4">
                <a th:href="@{'/calculation/recalculatePrice'}" class="btn btn-warning" th:title="#{calculation.recalculate.price}"><i class="ml-2"></i></a>
            </div>
        </div>
        </div>
        <div th:switch="${calculations}" class="container col-md-12 col-sm-12 my-5">
                    <h2 th:case="null">No calculation yet!</h2>
                    <div th:case="*">
                        <h2 class="my-2">Calculation</h2>
                        <table class="table table-striped table-responsive-md" id="calculations">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th th:ext="#{check}"><input type="checkbox" id="check"></th>
                                    <th th:ext="#{article}">Article</th>
                                    <th th:ext="#{name}">Name</th>
                                    <th th:ext="#{price}">Price</th>
                                    <th th:ext="#{fone.article}">Background article</th>
                                    <th th:ext="#{fone.price}">Background price</th>
                                    <th th:ext="#{job.price}">Job price</th>
                                    <th th:ext="#{edit}">Edit</th>
                                    <th th:ext="#{delete}">Delete</th>
                                </tr>
                            </thead>
                            <tbody  id="calculationItems">
                                <tr th:each="calculation : ${calculations}">
                                    <td th:text="${calculation.id}"></td>
                                    <td><input type="checkbox" id="checked" multiple="multiple"></td>
                                    <td th:text="${calculation.article}"></td>
                                    <td th:text="${calculation.name}"></td>
                                    <td th:text="${calculation.price}"></td>
                                    <td th:text="${calculation.fone.article}"></td>
                                    <td th:text="${calculation.fone.price}"></td>
                                    <td th:text="${calculation.jobProduct.price}"></td>
                                    <td><a th:href="@{/calculation/edit/{id}(id=${calculation.id})}" class="btn btn-success"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/calculation/delete/{id}(id=${calculation.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script th:src="@{'../js/jquery-1.11.0.min.js'}"></script>
        <script th:src="@{'../js/calculationEDocument.js'}"></script>
        <!--script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
        <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>