<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>new.calculation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <!--link rel="stylesheet" th:href="@{'/css/shards.min.css'}"-->
        <!--link rel="stylesheet" href="../css/bootstrap.min.css"-->
    </head>
    <body>
        <div th:insert="~{fragment/top :: navbar}"></div>
        <div class="container col-md-12 col-sm-12 my-5">
        <div class="card border-info">
        <h2 class="card-header">new.calculation</h2>
        <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <form th:action="@{/calculation/new}" th:object="${calculation}" method="post">
                        <div class="row">
                            <div class="form-group col-md-0" hidden="true">
                                <input type="text" th:field="*{id}" class="form-control" id="id">
                                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="article" class="col-form-label">article</label>
                                <input type="text" th:field="*{article}" class="form-control" id="article" placeholder="article">
                                <span th:if="${#fields.hasErrors('article')}" th:errors="*{article}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="name">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="removed" class="col-form-label">removed</label>
                                <input type="checkbox" class="form-control" th:field="*{removed}" id="removed" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="comment" class="col-form-label">comment</label>
                                <textarea th:field="*{comment}" class="form-control" id="comment" placeholder="comment" rows = "2"></textarea>
                            </div>
                            <div class="form-group col-md-0" hidden="true" >
                                <input type="text" th:field="*{fone.id}" class="form-control" id="foneId" placeholder="fone.id" readonly="readonly">
                                <span th:if="${#fields.hasErrors('fone.id')}" th:errors="*{fone.id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="foneArticle" class="col-form-label">fone.article</label>
                                <select id="foneArticle" name="foneArticle" th:with="fn=*{fone}" class="form-control">
                                    <option th:each="var : ${allFone}"
                                        th:value="${var.id}" 
                                        th:text="${var.article}"
                                        th:selected="${var.id}==${fn.id}"></option>
                                    </select>
                            </div>
                            <div class="form-group col-md-7">
                                <label for="foneName" class="col-form-label">fone.name</label>
                                <input type="text" th:field="*{fone.name}" class="form-control" id="foneName" placeholder="fone.name" readonly="readonly">
                                <span th:if="${#fields.hasErrors('fone.name')}" th:errors="*{fone.name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="fonePrice" class="col-form-label">fone.price</label>
                                <input type="text" th:field="*{fone.price}" class="form-control" id="fonePrice" placeholder="fone.price" readonly="readonly">
                                <span th:if="${#fields.hasErrors('fone.price')}" th:errors="*{fone.price}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-1" hidden="true" >
                                <input type="text" th:field="*{jobProduct.id}" class="form-control" id="jobId" placeholder="job.id" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobProduct.id')}" th:errors="*{jobProduct.id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="jobArticle" class="col-form-label">job.article</label>
                                <select id="jobArticle" name="jobArticle" th:with="job=*{jobProduct}" class="form-control">
                                    <option th:each="var : ${allJob}"
                                        th:value="${var.id}" 
                                        th:text="${var.article}"
                                        th:selected="${var.id}==${job.id}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-7">
                                <label for="jobName" class="col-form-label">job.name</label>
                                <input type="text" th:field="*{jobProduct.name}" class="form-control" id="jobName" placeholder="job.name" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobProduct.name')}" th:errors="*{jobProduct.name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="jobPrice" class="col-form-label">job.price</label>
                                <input type="text" th:field="*{jobProduct.price}" class="form-control" id="jobPrice" placeholder="job.price" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobProduct.price')}" th:errors="*{jobProduct.price}" class="text-danger"></span>
                            </div>
                            <div class="container my-2">
                            <div class="card border-info mb-3">
                            <h3 class="card-header">flowers</h3>
                            <div class="card-body">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-sm-12 padding-for-table">
                            <table id="flower" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" hidden="true">#</th>
                                        <th width="24%">article</th>
                                        <th width="36%">name</th>
                                        <th width="15%">quantity</th>
                                        <th width="10%">price</th>
                                        <th width="10%">result</th>
                                        <th width="5%">
                                            <a class="btn btn-outline-info" id="flowerAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="flowerItems">
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <!--div th:insert="~{fragment/tegMaterial :: tebleMaterials}"></div-->
                            <div class="container my-2">
                                <div class="card border-info mb-3">
                                    <h2 class="card-header">materials</h2>
                                    <div class="card-body">
                                        <div class="col-md-12 col-sm-12 padding-for-table">
                                            <table id="material" class="table table-hover caprion-color">
                                                <thead>
                                                    <tr>
                                                        <th width="0%" hidden="true">#</th>
                                                        <th width="24%">article</th>
                                                        <th width="36%">name</th>
                                                        <th width="15%">quantity</th>
                                                        <th width="10%">price</th>
                                                        <th width="10%">result</th>
                                                        <th width="5%">
                                                            <a class="btn btn-outline-info" id="materialAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="materialItems"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container my-2">
                            <div class="card border-info mb-3">
                            <h3 class="card-header">ruffs</h3>
                            <div class="card-body">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-sm-12 padding-for-table">
                            <table id="ruff" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" hidden="true">#</th>
                                        <th width="24%">article</th>
                                        <th width="36%">name</th>
                                        <th width="15%">quantity</th>
                                        <th width="10%">price</th>
                                        <th width="10%">result</th>
                                        <th width="5%">
                                            <a class="btn btn-outline-info" id="ruffAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ruffItems">
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="price" class="col-form-label">Price.is.an.one</label>
                            <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="price">
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <input type="submit" class="btn btn-primary" value="Update Calculation">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <script th:src="@{'/js/jquery-1.11.0.min.js'}"></script>
        <script th:src="@{'/js/calculation.js'}"></script>
        <!--script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
        <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </body>
</html>