<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>new.material</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{'/css/shards.min.css'}">
    </head>
    <body>
        <div th:insert="~{fragment/top :: navbar}"></div>
        <div class="container my-2">
        <div class="card">
        <div class="card-body">
        <div class="container my-5">
            <h3>new.material</h3>
            <div class="row">
                <div class="col-md-12">
                    <form th:action="@{addmaterial}" th:object="${material}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-0" hidden="true">
                                <input type="text" th:field="*{id}" class="form-control" id="id">
                                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="article" class="col-form-label" th:text="#{article}"></label>
                                <input type="text" th:field="*{article}" class="form-control" id="article" th:placeholder="#{article}">
                                <span th:if="${#fields.hasErrors('article')}" th:errors="*{article}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-7">
                                <label for="name" class="col-form-label" th:text="#{name}">name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" th:placeholder="#{name}">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="removed" class="col-form-label" th:text="#{removed}">removed</label>
                                <input type="checkbox" class="form-control" th:field="*{removed}" id="removed" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="price" class="col-form-label">price</label>
                                <input type="text" th:field="*{price}" class="form-control" id="price" th:placeholder="#{price}">
                                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="mass" class="col-form-label">mass</label>
                                <input type="text" th:field="*{mass}" class="form-control" id="mass" th:placeholder="#{mass}">
                                <span th:if="${#fields.hasErrors('mass')}" th:errors="*{mass}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="length" class="col-form-label">length</label>
                                <input type="text" th:field="*{length}" class="form-control" id="length" th:placeholder="#{length}">
                                <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="priceUanKg" class="col-form-label">priceUanKg</label>
                                <input type="text" th:field="*{priceUanKg}" class="form-control" id="priceUanKg" th:placeholder="#{priceUanKg}">
                                <span th:if="${#fields.hasErrors('priceUanKg')}" th:errors="*{priceUanKg}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="comment" class="col-form-label">comment</label>
                                <textarea th:field="*{comment}" class="form-control" id="comment" th:placeholder="#{comment}" rows = "5"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-1">
                                <input type="submit" class="btn btn-primary" value="add.material">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>