<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>add.carcass</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <!--link rel="stylesheet" th:href="@{'/css/shards.min.css'}"-->
        <!--link rel="stylesheet" href="../css/bootstrap.min.css"-->
    </head>
    <body>
        <div th:insert="~{fragment/top :: navbar}"></div>
        <div class="container my-2">
        <div class="card">
        <div class="card-body">
        <div class="container my-5">
            <h2 class="mb-5">add.carcass</h2>
            <div class="row">
                <div class="col-md-12">
                    <form th:action="@{/addcarcass}" th:object="${carcass}" method="post">
                        <div class="row">
                            <div class="form-group col-md-0" hidden="true">
                                <input type="text" th:field="*{id}" class="form-control" id="id">
                                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="article" class="col-form-label">Article</label>
                                <input type="text" th:field="*{article}" class="form-control" id="article" placeholder="Article">
                                <span th:if="${#fields.hasErrors('article')}" th:errors="*{article}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-9">
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                             
                            <div class="col-md-12 padding-for-table">
                            <table id="carcassMaterial" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" colspan="1" hidden="true">#</th>
                                        <th width="24%" colspan="1">Article</th>
                                        <th width="36%" colspan="1">Name</th>
                                        <th width="15%" colspan="1">Quantity</th>
                                        <th width="10%" colspan="1">Price</th>
                                        <th width="10%" colspan="1">Result</th>
                                        <th width="5%" colspan="1">
                                            <a class="btn btn-outline-info" id="materialAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="materialItems">
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-md-1" hidden="true" >
                            <input type="text" th:field="*{jobWelder.id}" class="form-control" id="jobWelderId" placeholder="job.carcass.id" readonly="readonly">
                            <span th:if="${#fields.hasErrors('jobWelder.id')}" th:errors="*{jobWelder.id}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="jobWelderArticle" class="col-form-label">Job carcass article</label>
                            <select id="jobWelderArticle" name="jobWelderArticle" th:with="jobWelder=*{jobWelder}" class="form-control">
                                <option th:each="var : ${allJobwelder}"
                                    th:value="${var.id}" 
                                    th:text="${var.article}"
                                    th:selected="${var.id}==${jobWelder.id}"></option>
                            </select>
                         </div>
                         <div class="form-group col-md-6">
                            <label for="jobWelderName" class="col-form-label">job.carcass.name</label>
                            <input type="text" th:field="*{jobWelder.name}" class="form-control" id="jobWelderName" placeholder="job.carcass.name" readonly="readonly">
                            <span th:if="${#fields.hasErrors('jobWelder.name')}" th:errors="*{jobWelder.name}" class="text-danger"></span>
                         </div>
                         <div class="form-group col-md-2">
                            <label for="jobWelderPrice" class="col-form-label">job.carcass.price</label>
                            <input type="text" th:field="*{jobWelder.price}" class="form-control" id="jobWelderPrice" placeholder="job.carcass.price" readonly="readonly">
                            <span th:if="${#fields.hasErrors('jobWelder.price')}" th:errors="*{jobWelder.price}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="comment" class="col-form-label">comment</label>
                            <textarea th:field="*{comment}" class="form-control" id="comment" placeholder="comment" rows = "5"></textarea>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="removed" class="col-form-label">removed</label>
                            <input type="checkbox" th:field="*{removed}" id="removed" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="price" class="col-form-label">Price.is.an.one</label>
                            <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="Price">
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Carcass">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <script th:src="@{'../js/jquery-1.11.0.min.js'}"></script>
        <script th:src="@{'../js/carcass.js'}"></script>
        <!--script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
        <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </body>
</html>