<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{../css/shards.min.css}">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<p class="login-box-msg" th:text="#{login.header}">Login header</p>
	            <h4 th:if="${error}" class="alert alert-danger">ERROR PASSWORD OR USER NAME</h4>
				<form th:action="@{/login}" th:method="post">
					<div class="input-group my-2">
					    <div class="input-group-prepend">
						    <label class="input-group-text" for="login"><i class="fa fa-user fa-fw"></i></label>
						</div>
						<input type="text" class="form-control" id="login" name="login" aria-describedby="login" th:placeholder="#{login.login}" />
					</div>
					<div class="input-group my-2">
			    	    <div class="input-group-prepend">
						    <label class="input-group-text" for="password"><i class="fa fa-lock fa-fw"></i></label>
						</div>
						<input type="password" class="form-control" id="password" name="password" th:placeholder="#{login.password}" />
					</div>
					<div class="col-auto my-1">
						<div class="custom-control custom-checkbox mr-md-2">
							<input type="checkbox" class="custom-control-input" id="remember" name="remember-me">
							<label class="custom-control-label" for="remember" th:text="#{login.rememberMe}">Remember Me</label>
						</div>
					</div>
					<div class="row justify-content-center my-4">
					<div class="col-md-12">
					    <button type="submit" class="btn btn-primary btn-block" th:text="#{login.singIn}">Sing in</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>