<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ruffs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{../css/shards.min.css}">
        <!--link rel="stylesheet" href="../css/bootstrap.min.css"-->
    </head>
    <body>
        <div th:insert="~{fragment/top :: navbar}"></div>
        <div class="container my-5">
        <div class="card my-5">
        <div class="card-body">
        <div th:switch="${ruffs}" class="container my-2">
        <p class="my-2"><a th:href="@{'/addruff'}" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
            <div class="row">
                <div class="col-md-10">
                    <h2 th:case="null">No ruff yet!</h2>
                    <div th:case="*">
                        <h2 class="my-2">Ruffs</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Article</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="ruff : ${ruffs}">
                                    <td th:text="${ruff.id}"></td>
                                    <td th:text="${ruff.article}"></td>
                                    <td th:text="${ruff.name}"></td>
                                    <td th:text="${ruff.price}"></td>
                                    <td><a th:href="@{/editruff/{id}(id=${ruff.id})}" class="btn btn-success"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/deleteruff/{id}(id=${ruff.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>