<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
    th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet"
    th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
<link rel="stylesheet" th:href="@{../css/shards.min.css}">
</head>
<body>
    <div class="container">
        <h2 class="mb-5">SingUp</h2>
        <h2 th:if="${error}" class="alert alert-danger">ERROR PASSWORD OR USE NAME</h2>
        <div class="row">
            <div class="col-md-6">
                <form th:action="@{/singUp}" th:object="${userDto}" method="post">
                    <div class="form-group" hidden="true">
                        <input type="text" th:field="*{id}" class="form-control" id="id">
                        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" th:field="*{login}" class="form-control" id="login" placeholder="Enter login">
                        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Enter password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>