<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update Fone</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"-->
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{'../css/shards.min.css'}">
        <link rel="stylesheet" th:href="@{'../css/bootstrap.min.css'}">
    </head>
    <body>
        <div th:insert="~{fragment/top :: navbar}"></div>
        <div class="container col-md-12 col-sm-12 my-5">
        <div class="card border-info mb-2">
        <h2 class="card-header">Update Fone</h2>
        <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <form th:action="@{/updatefone}" th:object="${fone}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-1" hidden="true">
                                <input type="text" th:field="*{id}" class="form-control" id="id">
                                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="article" class="col-form-label">fone.article</label>
                                <input type="text" th:field="*{article}" class="form-control" id="article" placeholder="fone.article">
                                <span th:if="${#fields.hasErrors('article')}" th:errors="*{article}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">fone.name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="fone.name">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                             <div class="form-group col-md-1" hidden="true">
                                <input type="text" th:field="*{carcass.id}" class="form-control" id="carcassId" placeholder="carcass.id" readonly="readonly">
                                <span th:if="${#fields.hasErrors('carcass.id')}" th:errors="*{carcass.id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="carcassArticle" class="col-form-label">carcass.article</label>
                                <select id="carcassArticle" name="carcassArticle" th:with="crcs=*{carcass}" class="form-control">
                                    <option th:each="var : ${allCarcass}"
                                        th:value="${var.id}" 
                                        th:text="${var.article}"
                                        th:selected="${var.id}==${crcs.id}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                               <label for="carcassName" class="col-form-label">carcass.name</label>
                               <input type="text" th:field="*{carcass.name}" class="form-control" id="carcassName" placeholder="carcass.name" readonly="readonly">
                               <span th:if="${#fields.hasErrors('carcass.name')}" th:errors="*{carcass.name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                               <label for="carcassPrice" class="col-form-label">carcass.price</label>
                               <input type="text" th:field="*{carcass.price}" class="form-control" id="carcassPrice" placeholder="carcass.price" readonly="readonly">
                               <span th:if="${#fields.hasErrors('carcass.price')}" th:errors="*{carcass.price}" class="text-danger"></span>
                            </div>
                            <div class="container my-2">
                            <div class="card border-info mb-3">
                            <h3 class="card-header">ruffs</h3>
                            <div class="card-body">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-sm-12 padding-for-table">
                            <table id="ruff" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" hidden="true">#</th>
                                        <th width="24%">article</th>
                                        <th width="36%">name</th>
                                        <th width="15%">quantity</th>
                                        <th width="10%">price</th>
                                        <th width="10%">result</th>
                                        <th width="5%">
                                            <a class="btn btn-outline-info" id="ruffAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ruffItems">
                                    <tr th:each="ruffs, itemStat : ${fone.ruffs}" th:with="result=${ruffs.price * ruffs.quantity}">
                                        <td width="0%" colspan="1" hidden="true">
                                            <input type="number" th:field="*{ruffs[__${itemStat.index}__].id}" class="form-control" id="ruffId">
                                            <span th:if="${#fields.hasErrors('ruffs[__${itemStat.index}__].id')}" th:errors="*{ruffs[__${itemStat.index}__].id}" class="text-danger"></span>
                                        </td>
                                        <td width="24%" colspan="1" id="ruffArticle">
                                            <select id="selectRuff" name="selectRuff" class="form-control">
                                                <option th:each="var : ${allRuff}"
                                                    th:value="${var.id}" 
                                                    th:text="${var.article}"
                                                    th:selected="${var.id}==${ruffs.id}"
                                                ></option>
                                            </select>
                                        </td>
                                        <td width="36%" colspan="1" th:text="${ruffs.name}" id="ruffName"/>
                                        <td width="15%" colspan="1" >
                                            <input type="text" th:field="*{ruffs[__${itemStat.index}__].quantity}" class="form-control" id="ruffQuantity" placeholder="ruff.quantity">
                                            <span th:if="${#fields.hasErrors('ruffs[__${itemStat.index}__].quantity')}" th:errors="*{ruffs[__${itemStat.index}__].quantity}" class="text-danger"></span>
                                        </td>
                                        <td width="10%" colspan="1" th:text="${ruffs.price}" id="ruffCost">
                                        </td>
                                        <td width="10%" colspan="1" th:text="${result}" id="ruffResult"></td>
                                        <td width="5%" colspan="1" id="ruffActionDelete">
                                            <a class="btn btn-outline-danger" id="ruffDelete"><i class="fas fa-user-times ml-2"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="container my-2">
                            <div class="card border-info mb-3">
                            <h2 class="card-header">materials</h2>
                            <div class="card-body">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-12 col-sm-12 padding-for-table">
                            <table id="material" class="table table-hover caprion-color">
                                <thead>
                                    <tr>
                                        <th width="0%" hidden="true">#</th>
                                        <th width="24%">article</th>
                                        <th width="36%">name</th>
                                        <th width="15%">quantity</th>
                                        <th width="10%">price</th>
                                        <th width="10%">result</th>
                                        <th width="5%">
                                            <a class="btn btn-outline-info" id="materialAdd"><i class="fas fa-user-plus ml-2"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="materialItems">
                                    <tr th:each="materials, itemStat : ${fone.materials}" th:with="result=${materials.cost * materials.quantity}">
                                        <td width="0%" colspan="1" hidden="true">
                                            <input type="number" th:field="*{materials[__${itemStat.index}__].id}" class="form-control" id="materialId">
                                            <span th:if="${#fields.hasErrors('materials[__${itemStat.index}__].id')}" th:errors="*{materials[__${itemStat.index}__].id}" class="text-danger"></span>
                                        </td>
                                        <td width="24%" colspan="1" id="materialArticle">
                                            <select id="selectMaterial" name="selectMaterial" class="form-control">
                                                <option th:each="var : ${allMaterial}"
                                                    th:value="${var.id}" 
                                                    th:text="${var.article}"
                                                    th:selected="${var.id}==${materials.id}"
                                                ></option>
                                            </select>
                                        </td>
                                        <td width="36%" colspan="1" th:text="${materials.name}" id="materialName"/>
                                        <td width="15%" colspan="1" >
                                            <input type="text" th:field="*{materials[__${itemStat.index}__].quantity}" class="form-control" id="materialQuantity" placeholder="material.quantity">
                                            <span th:if="${#fields.hasErrors('materials[__${itemStat.index}__].quantity')}" th:errors="*{materials[__${itemStat.index}__].quantity}" class="text-danger"></span>
                                        </td>
                                        <td width="10%" colspan="1" th:text="${materials.cost}" id="materialCost">
                                        </td>
                                        <td width="10%" colspan="1" th:text="${result}" id="materialResult"></td>
                                        <td width="5%" colspan="1" id="materialActionDelete">
                                            <a class="btn btn-outline-danger" id="materialDelete"><i class="fas fa-user-times ml-2"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="form-group col-md-1" hidden="true" >
                                <input type="text" th:field="*{jobBraid.id}" class="form-control" id="jobBraidId" placeholder="job.id" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobBraid.id')}" th:errors="*{jobBraid.id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="jobArticle" class="col-form-label">job.article</label>
                                <select id="jobArticle" name="jobArticle" th:with="job=*{jobBraid}" class="form-control">
                                    <option th:each="var : ${allJobbraid}"
                                        th:value="${var.id}" 
                                        th:text="${var.article}"
                                        th:selected="${var.id}==${job.id}"></option>
                                </select>
                             </div>
                             <div class="form-group col-md-6">
                                <label for="jobName" class="col-form-label">job.name</label>
                                <input type="text" th:field="*{jobBraid.name}" class="form-control" id="jobName" placeholder="job.name" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobBraid.name')}" th:errors="*{jobBraid.name}" class="text-danger"></span>
                             </div>
                             <div class="form-group col-md-2">
                                <label for="jobPrice" class="col-form-label">job.price</label>
                                <input type="text" th:field="*{jobBraid.price}" class="form-control" id="jobPrice" placeholder="job.price" readonly="readonly">
                                <span th:if="${#fields.hasErrors('jobBraid.price')}" th:errors="*{jobBraid.price}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="comment" class="col-form-label">comment</label>
                                <textarea th:field="*{comment}" class="form-control" id="comment" placeholder="comment" rows = "5"></textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="removed" class="col-form-label">removed</label>
                                <input type="checkbox" th:field="*{removed}" id="removed" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="price" class="col-form-label">Price.is.an.one</label>
                                <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="fone.price">
                                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Fone">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <script th:src="@{'../js/jquery-1.11.0.min.js'}"></script>
        <script th:src="@{'../js/fone.js'}"></script>
        <!--script th:src="@{'../js/jquery-3.3.1.slim.min.js'}"></script-->
        <!--script th:src="@{'../js/popper.min.js'}"></script-->
        <!--script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
        <!--script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script-->
        <!--script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script-->
        </body>
</html>